.book-library {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.book {
  width: 200px;
  text-align: center;
}

.book img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.book h4 {
  margin: 10px 0 5px 0;
  font-size: 16px;
}

.book p.author {
  color: #777777;
  margin: 0 0 5px 0;
}

.book p.price {
  background-color: #2ecc71;
  color: white;
  margin: 0;
}
